.git/*
env/
venv/
.venv
.venv/

__pycache__/
*.py[cod]

.idea
.DS_Store
.AppleDouble
.LSOverride

*.sublime-project
*.sublime-workspace

static/
media/

db.sqlite3

htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover


wear/

.env*

dist*
build*
logs*
temp*

.exe*
haddan_bot.exe*
tel_bot.exe*
haddan_tk.exe*
haddan_tk_profile*